@*******************************************************************************************************
    //  Home.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/22/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using GSF
@using GSF.Web.Model
@using PQDashboard.Model
@model AppModel
@{
    DataContext dataContext = Model.DataContext;

    string statusLightsImagePath = Model.GetPageSetting(ViewBag, "statusLightsImagePath", "~/Images/StatusLights/Small/");
    statusLightsImagePath = Url.Content(statusLightsImagePath).EnsureEnd('/');
    int pastDue = ViewBag.alarmLimits[0].Value;
    int due = ViewBag.alarmLimits[1].Value;



    const string noneImage = "greenlight.png";
    const string dueImage = "yellowlight.png";
    const string pastDueImage = "redlight.png";
    const string amberImage = "amberlight.png";
    const string completedImage = "blacklight.png";
    const string pendingImage = "magentalight.png";
    const string deferredImage = "bluelight.png";
    const string waitingImage = "greylight.png";



}
<script src="~/Scripts/jquery-2.2.0.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
<script src="~/Scripts/respond.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/bootstrap-toolkit.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

<script src="~/Scripts/gsf.web.client.js"></script>


<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Site.js"></script>

<script src="~/Scripts/knockout-3.4.0.debug.js"></script>
<script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
<script src="~/Scripts/knockout.validation.min.js"></script>
<script src="~/Scripts/ko-reactor.min.js"></script>
<script src="~/Scripts/ko.observableDictionary.js"></script>
<script src="~/Scripts/js.cookie.js"></script>

<div class="row">
    <div class="col-md-6">
        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="4"><b>Active Plans</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right">&nbsp;Today&nbsp;</td>
                <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;(T-7)</td>
                <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;(T-14)</td>
            </tr>

            <tr>
                <td>Total Open Plans</td>
                <td align="right">@ViewBag.todaysOpenPlansCount</td>
                <td align="right">@ViewBag.weekOpenPlansCount</td>
                <td align="right">@ViewBag.twoWeekOpenPlansCount</td>
            </tr>

            <tr>
                <td>Completed Plans</td>
                <td align="right">@ViewBag.todaysCompletedPlansCount</td>
                <td align="right">@ViewBag.weekCompletedPlansCount</td>
                <td align="right">@ViewBag.twoWeekCompletedPlansCount</td>
            </tr>

        </table>

        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="3"><b>Year-To-Date</b></td>
            </tr>
            <tr>
                <td align="left">Plans Started</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDPlansStarted</td>
            </tr>
            <tr>
                <td align="left">Actions Completed&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDActionsCompleted</td>
            </tr>
            <tr>
                <td align="left">Plans Closed&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDPlansClosed</td>
            </tr>

        </table>
        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="3"><b>YTD Action Item Alarms</b></td>
            </tr>
            <tr>
                <td align="left">Warning</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDWarnings</td>
            </tr>
            <tr>
                <td align="left">Alarm</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDAlarms</td>
            </tr>
            <tr>
                <td align="left">Critical Alarm</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDCriticalAlarms</td>
            </tr>
            <tr>
                <td align="left">Late&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDLateActions</td>
            </tr>
        </table>
        <p>&nbsp;</p>

        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="2"><b>My BU Plans</b></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <table>
                        <tr>
                            <td align="left">Open Plans</td>
                            <td>&nbsp;&nbsp;</td>
                            <td align="right">@ViewBag.MyOpenPlans</td>
                        </tr>
                        <tr><td colspan="3">&nbsp;</td></tr>
                        <tr>
                            <td align="left">Open Action Items</td>
                            <td>&nbsp;&nbsp;</td>
                            <td align="right">@ViewBag.MyOpenAction</td>
                        </tr>
                        <tr>
                            <td align="left">Late Action Items</td>
                            <td>&nbsp;&nbsp;</td>
                            <td align="right">@ViewBag.MyLateAction</td>
                        </tr>


                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <p>&nbsp;</p>
        <table>
            <tr><td colspan="4"><b>Action Items in Alarm</b></td></tr>

            <tr>
                <td align="center" width="5%">&nbsp;</td>
                <td align="center" width="25%">&nbsp;<u>&nbsp;&nbsp;To&nbsp;Go&nbsp;Days&nbsp;&nbsp;</u>&nbsp;</td>
                <td align="left" width="30%">&nbsp;<u>&nbsp;&nbsp;Patch&nbsp;ID&nbsp;&nbsp;</u>&nbsp;</td>
                <td align="left" width="40%">&nbsp;<u>&nbsp;&nbsp;Action&nbsp;Title&nbsp;&nbsp;</u>&nbsp;</td>
            </tr>
            <tbody  data-bind="foreach: actions">
            <tr>
                <td width="5%" class="text-center valign-middle"><img src="~/Images/StatusLights/Small/greenlight.png" alt="OK" title="OK" data-bind="attr: {'update-attr': getDiscoveryStatusImage($($element), $data)}"></td>
                <td align="center" width="25%" data-bind="text: dateFixer(ScheduledEndDate)"></td>
                <td align="left" width="30%" data-bind="text: lookupTitleValue(PlanID)"></td>
                <td align="left" width="40%" data-bind="text: Title"></td>
            </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>
        <table>
            <tr><td colspan="3" align="left"><b>Plans Added Today</b></td></tr>
            <tr>
                <td width="33%" align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
                <td width="33%" align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;Business&nbsp;Unit&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
                <td width="34%" align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;Title&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
            </tr>

            <tbody data-bind="foreach: plans">
                <tr>
                    <td width="33%" class="text-left valign-middle"><button type="button" class="btn btn-link" data-bind="text: Title, click: openModal.bind($data)"></button></td>
                    <td align="center" width="33%" data-bind="text: lookupNameValue(BusinessUnitID)"></td>
                    <td align="center" width="34% "data-bind="text: Field1"></td>
                </tr>
            </tbody>
             </table>

</div>

</div>

<!-- Modal -->
<div id="detailsModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="detailsModalFrame"></iframe>
                <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    </script>


