@*//******************************************************************************************************
//  Verify.cshtml - Gbtc
//
//  Copyright © 2018, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  08/02/2018 - Billy Ernest
//       Generated original version of source code.
//
//*******************************************************************************************************@


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify</title>
    @Styles.Render("~/Content/bootstrap/bootstrap")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
</head>
<body>
    <div class="container">
            <h1>openXDA</h1>
            <hr />
            @if(ViewBag.type == "email")
            {
            <h3>Verify Email Address - @ViewBag.account.Email</h3>
            }
            @if(ViewBag.type == "sms")
            {
            <h3>Verify SMS Number - @ViewBag.account.Phone.Split('@')[0]</h3>
            }
            
            <div class="well">
                @if (ViewBag.ExpiredCode != null && ViewBag.ExpiredCode)
                {
                    <p style="color:red; font:bold">Your code has expired.  Please hit the Resend code button.</p>
                }
                @if (ViewBag.BadCode != null && ViewBag.BadCode)
                {
                    <p style="color:red; font:bold">Your code does not match what you inputed.  Please reenter the code.</p>
                }
                <form action="../VerifyCode" method="post">
                    @AntiForgery.GetHtml()
                    <input name="type" value="@ViewBag.type" hidden />
                    <input name="accountid" value="@ViewBag.account.ID" hidden />

                    <div class="form-group">
                        <label for="code">Enter Code:</label>
                        <input type="number" class="form-control" name="code" />
                    </div>
                    <input type="submit" name="submit" value="Submit" class="btn btn-default" />
                    <input type="submit" name="submit" value="Resend Code" class="btn btn-default" />
                </form>
            </div>

        </div>
    </body>
</html>
