@*//******************************************************************************************************
//  Index.cshtml - Gbtc
//
//  Copyright © 2020, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  02/19/2020 - Billy Ernest
//       Generated original version of source code.
//
//*******************************************************************************************************@

@using GSF.Data

@{
    Layout = "";
    using(AdoDataConnection connection = new AdoDataConnection("systemSettings"))
    {
        ViewBag.xdaInstance = connection.ExecuteScalar<string>("SELECT Value FROM Settings WHERE Name = 'XDAInstance'");
        ViewBag.scInstance = connection.ExecuteScalar<string>("SELECT Value FROM Settings WHERE Name = 'SCInstance'");
        ViewBag.openSEEInstance = connection.ExecuteScalar<string>("SELECT Value FROM Settings WHERE Name = 'OpenSEEInstance'");
        ViewBag.faultLocationInstance = connection.ExecuteScalar<string>("SELECT Value FROM Settings WHERE Name = 'FaultLocationInstance'");

    }
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1" runat="server">
    <title>SE Browser</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link rel="shortcut icon" type="image/ico" href="~/Images/icon.png" />
    <link href="@Url.Content("~/@GSF/Web/Shared/Content/bootstrap4.css")" rel="stylesheet">
    <link href="@Url.Content("~/@GSF/Web/Shared/Content/font-awesome.css")" rel="stylesheet">
    <link rel="stylesheet" href="http://js.arcgis.com/3.15/dijit/themes/claro/claro.css">
  	<link rel="stylesheet" href="http://js.arcgis.com/3.15/esri/css/esri.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link href="~/Content/bootstrap4-datetimepicker.css" rel="stylesheet"/>
    <style>
        body {
            font-size: x-small;
        }
        @@media screen and (min-width : 1920px)
        {
          body
          {
            font-size: small;
          }
        }

        @@media screen and (min-width : 2256px)
        {
          body
          {
            font-size: medium;
          }
        }
        @@media screen and (min-width : 2600px)
        {
          body
          {
            font-size: large;
          }
        }

        @@media screen and (min-width : 3000px)
        {
          body
          {
            font-size: x-large;
          }
        }
    </style>
</head>
<body>
    <div id="pageBody"></div>
    <script>
        var xdaInstance = '@Html.Raw(ViewBag.xdaInstance)';
        var scInstance = '@Html.Raw(ViewBag.scInstance)';
        var openSEEInstance = '@Html.Raw(ViewBag.openSEEInstance)';
        var faultLocationInstance = '@Html.Raw(ViewBag.faultLocationInstance)';

        var homePath = '@Html.Raw(Url.Content("~/"))';
        var controllerViewPath = homePath + '@Html.Raw(this.ViewContext.RouteData.GetRequiredString("controller"))/@Html.Raw(this.ViewContext.RouteData.GetRequiredString("action"))';
    </script>
    @if (Request.Browser.Browser == "InternetExplorer" || Request.Browser.Browser == "IE") {
        <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/default.polyfill.min.js")"></script>
    }

    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.crosshair.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.navigate.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.selection.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.time.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.rangeselection.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.axislabels.min.js")"></script>

    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/flot/jquery.flot.dashes.js")"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/popper.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/bootstrap4.js")"></script>
    <script src="~/Scripts/Lib/bootstrap4-datetimepicker.min.js"></script>
@if (Model.IsDebug())
{
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/react.development.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/react-dom.development.js")"></script> 
}
else
{
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/react.production.min.js")"></script>
    <script src="@Url.Content("~/@GSF/Web/Shared/Scripts/react-dom.production.min.js")"></script>

}
    <script src="~/Scripts/Lib/react-router-dom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/Lib/d3.v4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/SEBrowser.js")"></script>
</body>
</html>